.git/
.env
.env.backup
.env.production
vendor/
node_modules/
bootstrap/cache/*.php
storage/*.log
storage/debugbar/
public/hot
public/build/
public/mix-manifest.json
public/css/
public/js/
public/vendor/
.DS_Store
npm-debug.log
Dockerfile
compose.yml
.gitattributes
.gitignore
README.md
