.git/
vendor/
node_modules/
storage/*.log
storage/debugbar/
public/hot
public/build/
public/mix-manifest.json
public/css/
public/js/
public/vendor/
.DS_Store
npm-debug.log
Dockerfile
compose.yaml
.gitattributes
.gitignore
README.md
start.sh
